<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="tkotosz_commandscheduler" frontName="tkotosz_commandscheduler">
            <module name="Tkotosz_CommandScheduler" />
        </route>
    </router>
</config>
